# Appwrite Configuration Example
VITE_APPWRITE_PROJECT_ID=""
VITE_APPWRITE_PROJECT_NAME="Forge"
VITE_APPWRITE_ENDPOINT="https://xxxxxx.cloud.appwrite.io/v1"
VITE_APPWRITE_DATABASE_ID=""
VITE_APPWRITE_BOOKMARKS_COLLECTION_ID=""
