{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "semi": true,
  "singleAttributePerLine": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false
}
